/*-- scss:defaults --*/

  // Colors
  $mint: #C9FFE5;
  $rose: #EDAEC0;
  $lightorange: #FFDBBB;
  $cream: #FDFBF7;
  $blue: #9CCAE5;
  $black: #231F20;
  $lightpurple: #A695B0;
  
  
  // Base document colors 
  $navbar-bg: $lightpurple; // navbar
  $navbar-fg: $black; // navbar foreground elements